.BasicEditorStyle {
  margin: 20px;
}

.ReplyEditorStyle {
  margin: 12px;
}

.BtnContainer {
  display: inline-block;
  width: calc(50% - 5px);
}

.BtnContainerLeft {
  margin-right: 5px;
}

.BtnContainerRight {
  margin-left: 5px;
}

.TextareaStyle {
  min-height: 250px !important;
  margin-bottom: 0;
}

.FormRow {
  margin-bottom: 12px;
}
