@import "scss/colors";

.Toolbar {
  padding-left: 5px;
  background-color: $primary-color;
  color: white;
  font-size: 14px;
  width: 100%;
  height: 100%;
}

.Section {
  padding: 5px 10px;
}

.SwitchLabel {
  margin-right: 7px;
}

.Fab {
  background-color: $primary-color;
  color: white;
  font-size: 16px;
  padding: 7px 12px;
  border-radius: 50%;

  &:hover {
    background-color: rgba(0, 0, 0, 0.15);
  }
}

.FabActive {
  background-color: $primary-color;
  color: white;
}

.BrandTag {
  display: inline-block;
  padding: 7px 12px;
  font-size: 14px;
  background-color: white;
  color: darken($primary-color, 90%);
}

.Logo {
  cursor: pointer;
}
