.BackBtn {
  padding: 12px;
  cursor: pointer;
  background: #f5f5f5;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.45);
  span {
    margin-left: 8px;
  }
}

.ReplyEditorContainer {
  padding: 0 12px;
}
